
{% assign hashtags = "" %}
{%- if page.tags -%}
    {% for tag in page.tags %}
        {% assign trimmed = tag | strip | remove: " " %}
        {% assign hashtags = hashtags | append: ',' | append: trimmed  %}
    {% endfor %}
{%- endif -%}
{%- if page.tools -%}
    {% for tag in page.tools %}
        {% assign trimmed = tag | strip | remove: " " %}
        {% assign hashtags = hashtags | append: ',' | append: tag  %}
    {% endfor %}
{%- endif -%}

{% assign hashtags = hashtags | remove_first: ',' %}

{%- if site.applause.enabled == true -%}
<div class='applause justify-content-center'>
	<div class='applause-button-wrapper'>
		<applause-button  multiclap="true" id="applause-button" color="#007bff" style="width: 58px; height: 58px;" url="{{ site.url }}{{ page.url }}"/>
	</div>
</div>
{%- endif -%}

<div class="share-page justify-content-center" style="border-top: 1px solid #c7cdd1; border-bottom: 1px solid #c7cdd1; padding-top: 20px; padding-bottom: 20px;">
	
    <div class="justify-content-center">
        <b>SHARE THIS &rarr;</b>

        <span class="justify-content-right">
            {%- assign unfocused_color = "c7cdd1" -%}

            <a class="social mx-3  rounded-circle no-underline justify-content-center" href="https://twitter.com/share?text={{ page.title }}&hashtags={{ hashtags }}&url={{ site.url }}{{ page.url }}&via={{ site.author.twitter }}&related={{ site.author.twitter }}"
               rel="nofollow"
               target="_blank"
			   {%- if site.analytics.enabled == true %}
			   onclick="gtagShareLink('twitter')"
			   {%- endif -%}
               style="color: #{{ unfocused_color }}; border-color:#{{ unfocused_color }}; padding: 5px; "
               onMouseOver="this.style.color='#{{ site.data.social-media.twitter.color }}'"
               onMouseOut="this.style.color='#{{ unfocused_color }}'">
               <i class="{{ site.data.social-media.twitter.icon }} fa-lg"></i>
            </a>

            <a class="social mx-3  rounded-circle no-underline" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.url }}"
               rel="nofollow"
               target="_blank"
			   {%- if site.analytics.enabled == true %}
			   onclick="gtagShareLink('linkedin')"
			   {%- endif -%}
               style="color: #{{ unfocused_color }}; border-color:#{{ unfocused_color }}; padding: 5px;"
               onMouseOver="this.style.color='#{{ site.data.social-media.linkedin.color }}'"
               onMouseOut="this.style.color='#{{ unfocused_color }}'">
               <i class="{{ site.data.social-media.linkedin.icon }} fa-lg"></i>
            </a>

            <a class="social mx-3  rounded-circle no-underline" href="https://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}"
               rel="nofollow"
               target="_blank"
			   {%- if site.analytics.enabled == true %}
			   onclick="gtagShareLink('facebook')"
			   {%- endif -%}
               style="color: #{{ unfocused_color }}; border-color:#{{ unfocused_color }}; padding: 5px; "
               onMouseOver="this.style.color='#{{ site.data.social-media.facebook.color }}'"
               onMouseOut="this.style.color='#{{ unfocused_color }}'">
               <i class="{{ site.data.social-media.facebook.icon }} fa-lg"></i>
            </a>

			{% include elements/clap.html class="float-right" display='initial' %}
        </span>
		
		
		
    </div>
	


</div>