a img {
	text-decoration: none !important;
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
	border: 2px solid transparent;
}

a img:hover {
	border: 2px solid #007bff;
	border-radius: 4px;
}