{% assign image_name = include.image | split: "/" | last | split: "." | first %}
{% if include.text %}
<a href="{{ include.image }}" class="lightbox-link" data-lightbox="{{ include.album | default: image_name }}" data-title="{{ include.caption | default: include.text | capitalize }}">{{ include.text | strip }}</a>
{% else %}
<a href="{{ include.image }}" class="no-underline" data-lightbox="{{ include.album | default: image_name }}" data-title="{{ include.title | default: include.caption }}">
	<img class="lightbox-link" src="{{ include.preview | default: include.image }}" alt="{{ include.alt | default: include.caption }}" title="{{ include.title | default: include.caption }}" width="{{ include.width | default: 100% }}">
</a>
{% endif %}